:root {
  --active-width: 0;
  --active-left: 0;
}

:focus {
  outline: none;
}

.App {
  display: flex;
}

.FileExplorer__container {
  flex: 1;
  height: 100vh;
  background-color: #252526;
}

.code__area {
  flex: 3;
  height: 100vh;
  background-color: #1e1e1e;
  justify-content: center;
  color: gray;
  display: flex;
}
